.nav{
  position: fixed;
  display: flex;
  z-index: 1000;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.35); 
  height: 100px;
  width: 100%;
  gap: 32px;
}
.nav h2 {
  font-size: 26px;
  font-weight: bold;
  color: #19194f;
}
.nav ul {
  list-style-type: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  gap: 4px;
  background: rgba(255, 255, 255, 0.25);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}
.nav li a{
  display: block;
  padding: 20px;
  color: #19194f;
  border: 30px;
  font-size: 26px;
  font-weight: 500;
  border-radius: 100px;
  transition: background 0.18s, color 0.18s;
  text-decoration: none;
}
.nav li a:hover{
  color: #8DC2AC;
  background: #19194F;
  border-radius: 30px;
}
.dropdown{
  display: flex;
  border-radius: 100px;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.25);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}
.dropdown select{
  background: none;
  appearance: none;
  -webkit-appearance: none;
  color: #19194f;
  display: flex;
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  font-size: 26px;
  cursor: pointer;
  text-align: center;
}
.dropdown:hover{
  border-color: rgba(25, 25, 79, 0.4);
  box-shadow: 0 0 0 3px rgba(25, 25, 79, 0.07);
  border-radius: 30px;
}
.dropdown select option {
  color: #19194f;
  cursor: pointer;
  padding: 10px;
}
