.report{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 30px;
  flex-direction: column;
}
.table-devices{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.report table {
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

