.metrics-page{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.metrics, .cross-validation{
  display: flex;
  margin-left: 100px;
}
.metrics table {
    width: 800px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}
table{
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
}

th{
    padding: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.35); 
    color: #8DC2AC;
    background: #19194F;
    height: 30px;
    cursor: pointer;
}

td{
    padding: 10px;
    border: 0.5px solid rgba(3, 16, 101, 0.51); 
    text-align: center;
    color: #19194F;
    cursor: pointer;
}
td:hover{
    color: #8DC2AC;
    background: #19194F;
}
th:hover{
    background: #8DC2AC;
    color: #19194F;
}
