.buildings-panel{
  overflow-y: auto;
  height: 100vh;
}
.building-view{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 10px; 
  gap: 12px;
}
.bldg-view{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 150px;
  background-color: #EDF5F5;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  box-sizing: border-box;
  width: 150px;
}
