.line-card, .area-card, .pie-card, .bar-card, .doughnut-card, .multitype-card {
  flex: 1 1 400px;
  height: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background: white;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard {
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  background-color: #EDF5F5;
  display:flex ;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.line-card canvas, .bar-card canvas, .pie-card canvas, .area-card canvas, .doughnut-card canvas, .multitype-card canvas {
  height: 100% !important;
  width: 100% !important;
}
