.pie-card{
  display: flex;
  width: 800px;
  height: 500px;
}
.line-card, .area-card, .sum-card,.bar-card, .doughnut-card, .hor-bar-card{
  padding: 20px;
  display: inline-flex;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  background: rgba(255, 255, 255, 0.25);
  border: 2.5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}
.line-card:hover, .area-card:hover, .pie-card:hover, .bar-card:hover, .doughnut-card:hover, .multitype-card:hover {
  box-shadow: 0 6px 25px rgba(0,0,0,0.1);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #EDF5F5;
  background-image:
  radial-gradient(circle at 90% -5%, #B8E0E0  0%, transparent 45%),
  radial-gradient(circle at 10% 110%, #C4F5F4 0%, transparent 45%),
  radial-gradient(circle at 50% 50%, #8DC2AC 0%, transparent 35%);
}

.dashboard {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  display:flex ;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.bldg-id, .username-label, .password-label{
  font-size:24px;
  border-radius: 20px;
  background-color: #DCE4E6;
  border: 0;
  display: flex;
  align-items: center;
  height: 100px;
  margin: 2px 2px 35px;
  width: 30vw;
  text-align: center;
  resize: none;
  color: black;
}
.input-card{
  height: 150px;
  background-color: #EDF5F5;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  box-sizing: border-box;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-panel-active {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 100;
  width: 100vw;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255,255,255,0);
}
.btn-utility, .cancel-btn{
  position: fixed;
  top: 4%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.loading-spinner{
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);
}
.spinner{
  border: 4px solid #f3f3f3;
  border-top: 4px solid #19194F ;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.desc1, .desc2, .desc3, .desc4, .desc5{
  display: flex;
  background: rgba(255, 255, 255, 0.25);
  border: 2.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  height: 60px;
  color: #19194f;
  gap: 15px;
  margin: 40px;
}
.desc1:hover, .desc2:hover, .desc3:hover, .desc4:hover, .desc5:hover{
  background: none;
  border:7.5 solid #19194F;
  border-radius: 10px;
}
