:root {
  --text: #374151;
  --text-h: #1f2028;
  --bg: #EDF5F5;
  --border: #e5e7eb;
  --code-bg: #f3f4f6;
  --sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --heading: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mono: monospace;
  font-family: var(--sans);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1024px) {
  :root { font-size: 16px; }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #8ca3af;
    --text-h: #0f2028;
    --bg: white;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}
h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}
@media (max-width: 1024px) {
  h1 { font-size: 36px; margin: 20px 0; }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}
@media (max-width: 1024px) {
  h2 { font-size: 20px; }
}
p {
  margin: 0;
  font-family: var(--heading);
  color: var(--text-h);
  font-weight: 500;
  font-size: 16px;
}
html{
  scroll-behavior: smooth;
}
code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
button{
background: #19196E;
  background-image:
    radial-gradient(circle at 90% -5%, rgba(255, 255, 255, 0.8) 0%, transparent 45%),
    radial-gradient(circle at 10% 110%, #3030D1 0%, transparent 45%),
    radial-gradient(circle at 50% 50%, #19196E 0%, transparent 35%);
  font-size: 24px; 
  border: 0;
  border-radius: 12px;
  height: 60px;
  cursor: pointer;
  width: 280px;
  font-weight: 700;
}
button:hover{
  box-shadow: 0 0 20px rgba(48, 48, 209, 0.6);
}
